<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
<div class="overlay"></div>
<header class="header-section">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <a href="index.html">
          <img src="./assets/images/logo_eva_drive_branca.svg" alt="logo">
        </a>
      </div>
      <ul class="menu">
<!--        <li>-->
<!--          <a (click)="goHome()" class="home">Início</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="https://play.google.com/store/apps/details?id=br.com.taxireturn.client.evadrive" target="_blank">Eva Passageira</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="https://play.google.com/store/apps/details?id=br.com.taxireturn.driver.evadrive" target="_blank">Eva Motorista</a>-->
<!--        </li>-->
        <li class="d-sm-none">
          <a href="https://play.google.com/store/apps/details?id=br.com.taxireturn.client.evadrive" target="_blank" class="m-0 header-button">
            Baixe o APP
          </a>
        </li>
      </ul>
      <div class="header-bar d-lg-none">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="header-right">
        <a href="https://play.google.com/store/apps/details?id=br.com.taxireturn.client.evadrive" target="_blank" class="header-button d-none d-sm-inline-block">Baixe o APP</a>
      </div>
    </div>
  </div>
</header>
<section class="banner-3 bg_img oh" data-background="./assets/images/banner/banner-bg-3.jpg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="banner-content-3 cl-white">
          <h1 class="title">Mulheres motoristas levam <span>Mulheres passageiras</span></h1>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="video-container">
          <iframe
                  src="https://www.youtube.com/embed/AnrB_FMFVQs?autoplay=1"
                  frameborder="0"
                  allow="accelerometer; encrypted-media; gyroscope;"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="exclusive-section padding-bottom-2 padding-top oh" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xl-6">
        <div class="section-header left-style">
          <h5 class="cate">Eva passageira</h5>
          <h2 class="title">
            Nossas usuárias têm no aplicativo a segurança de serem transportadas por outras mulheres.
          </h2>
          <p>
            Todas as nossas motoristas passam por um processo de seleção e são habilitadas para atender as usuárias com toda atenção e segurança que precisam.
          </p>
        </div>
        <div class="row mb--20">
          <div class="col-sm-6">
            <div class="exclusive-item">
              <div class="exclusive-thumb">
                <img src="./assets/images/feature/01.png" alt="feature">
              </div>
              <div class="exclusive-content">
                <h6 class="title">Segurança</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="exclusive-item">
              <div class="exclusive-thumb">
                <img src="./assets/images/feature/01-comodidade.png" alt="feature">
              </div>
              <div class="exclusive-content">
                <h6 class="title">Comodidade</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="exclusive-item">
              <div class="exclusive-thumb">
                <img src="./assets/images/feature/01-assedio.png" alt="feature">
              </div>
              <div class="exclusive-content">
                <h6 class="title">Livre de assédio</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="exclusive-item">
              <div class="exclusive-thumb">
                <img src="./assets/images/feature/01-agendamento.png" alt="feature">
              </div>
              <div class="exclusive-content">
                <h6 class="title">Viagens agendadas</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="exclusive-item">
              <div class="exclusive-thumb">
                <img src="./assets/images/feature/05.png" alt="feature">
              </div>
              <div class="exclusive-content">
                <h6 class="title">Conforto</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="exclusive-item">
              <div class="exclusive-thumb">
                <img src="./assets/images/feature/06.png" alt="feature">
              </div>
              <div class="exclusive-content">
                <h6 class="title">24/7 Suporte</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-xl-6">
        <div class="feature-1-thumb">
          <div class="main-thumb">
            <img src="./assets/images/feature/feature01.png" alt="feature">
          </div>
          <div class="layer">
            <img src="./assets/images/feature/feature1-layer.png" alt="feature">
          </div>
          <div class="layer">
            <img src="./assets/images/feature/feature1-layer.png" alt="feature">
          </div>
          <div class="layer">
            <img src="./assets/images/feature/feature1-layer.png" alt="feature">
          </div>
          <div class="layer">
            <img src="./assets/images/feature/feature1-layer.png" alt="feature">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="colaboration-section padding-top-2 padding-bottom-2 oh" id="screenshot">
  <div class="container">
    <div class="row align-items-center flex-wrap-reverse">
      <div class="col-lg-6 col-xl-7 rtl">
        <div class="collaboration-anime-area">
          <div class="main-thumb">
            <img src="./assets/images/collaboration/main.png" alt="colaboration">
          </div>
          <div class="girl wow slideInLeft">
            <img src="./assets/images/collaboration/girl.png" alt="colaboration">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-5">
        <div class="section-header left-style">
          <h5 class="cate">Protegendo-as dos assédios e importunações</h5>
          <h2 class="title">Vantagens EVA</h2>
          <p>
            A corrida pode ser agendada com 30 minutos de antecedência de segunda à sexta, horário comercial.

          </p>
        </div>
        <div class="colaboration-wrapper">
          <div class="colaboration-slider owl-carousel owl-theme">
            <div class="colaboration-item">
              <div class="colaboration-thumb">
                <div class="icon">
                  <i class="flaticon-double-angle-arrow-pointing-to-right"></i>
                </div>
              </div>
              <div class="colaboration-content">
                <h4 class="title">AGENDAMENTO</h4>
                <p>
                  Aos finais de semana, madrugadas e feriados, com 24 horas de antecedência.
                </p>
              </div>
            </div>
            <div class="colaboration-item">
              <div class="colaboration-thumb">
                <div class="icon">
                  <i class="flaticon-double-angle-arrow-pointing-to-right"></i>
                </div>
              </div>
              <div class="colaboration-content">
                <h4 class="title">EVA MÃETORISTA</h4>
                <p>
                  Serviço exclusivo para crianças e adolescentes
                </p>
              </div>
            </div>
            <div class="colaboration-item">
              <div class="colaboration-thumb">
                <div class="icon">
                  <i class="flaticon-double-angle-arrow-pointing-to-right"></i>
                </div>
              </div>
              <div class="colaboration-content">
                <h4 class="title">ATENDIMENTO INCLUSIVO</h4>
                <p>
                  EVAS PNE tem todo apoio de nossas motoristas parceiras – carros adaptados, libras, entre outros.
                </p>
              </div>
            </div>
            <div class="colaboration-item">
              <div class="colaboration-thumb">
                <div class="icon">
                  <i class="flaticon-double-angle-arrow-pointing-to-right"></i>
                </div>
              </div>
              <div class="colaboration-content">
                <h4 class="title">EVA +</h4>
                <p>
                  Mobilidade urbana exclusiva para mulheres na melhor idade
                </p>
              </div>
            </div>
            <div class="colaboration-item">
              <div class="colaboration-thumb">
                <div class="icon">
                  <i class="flaticon-reload"></i>
                </div>
              </div>
              <div class="colaboration-content">
                <h4 class="title">EVA POR ELAS</h4>
                <p>
                  Espaço de empreendedorismo / Loja colaborativa no site.
                </p>
              </div>
            </div>
            <div class="colaboration-item">
              <div class="colaboration-thumb">
                <div class="icon">
                  <i class="flaticon-double-angle-arrow-pointing-to-right"></i>
                </div>
              </div>
              <div class="colaboration-content">
                <h4 class="title">EVA LEVA</h4>
                <p>
                  Serviço de retirada e entrega de produtos diversos.
                </p>
              </div>
            </div>
            <div class="colaboration-item">
              <div class="colaboration-thumb">
                <div class="icon">
                  <i class="flaticon-double-angle-arrow-pointing-to-right"></i>
                </div>
              </div>
              <div class="colaboration-content">
                <h4 class="title">EVA GLAMOUROSA</h4>
                <p>
                  Serviço exclusivo para Noivas
                </p>
              </div>
            </div>
          </div>
          <div class="cola-nav">
            <a href="#0" class="cola-prev mr-4">
              <img src="./assets/images/collaboration/left.png" alt="colaboration">
            </a>
            <a href="#0" class="cola-next">
              <img src="./assets/images/collaboration/right.png" alt="colaboration">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="smart-watch-section">
  <div class="smart-bg bg_img d-lg-block d-none" data-background="./assets/images/bg/smart-bg-1.png"></div>
  <div class="oh padding-top-2 padding-bottom-2 pb-lg-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mt-lg-4">
          <div class="smart-watch-content mt-lg-5">
            <div class="section-header left-style">
              <h5 class="cate">Como ser uma eva passageira?</h5>
              <h2 class="title">Nossa equipe de Evas darão todo o suporte. #VemSerEva</h2>
              <p>
                É simples! Basta baixar o app na Play Store, nas versões Android ou IOS e fazer seu cadastro.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="mt-120">
  <div class="container">
    <div class="footer-section-16 bg_img padding-top" style="background-color: #fff">
      <div class="row justify-content-center">
        <div class="col-md-7 col-xl-6">
          <div class="section-header">
            <h2 class="title">Já tem uma conta?</h2>
            <h4>Cadastre-se agora</h4>
          </div>
        </div>
      </div>
      <ul class="app-download-16">
        <li>
          <a href="https://play.google.com/store/apps/details?id=br.com.taxireturn.client.evadrive" target="_blank" class="app-button ">
            <img src="./assets/images/google-play.svg" alt="button">
          </a>
        </li>
        <li>
          <a href="https://apps.apple.com/us/app/id1477986712" target="_blank" class="app-button ">
            <img src="./assets/images/app-store.svg" alt="button">
          </a>
        </li>
      </ul>
      <div class="footer-bottom padding-top">
        <ul class="footer-link">
          <li>
            <a href="https://www.evadrive.com.br/">Quem somos?</a>
          </li>
          <li>
            <a href="https://web.whatsapp.com/send?phone=5561996983589&text=">Whatssap</a>
          </li>
          <li>
            <a href="mailto:contato@evadrive.com.br">Contato</a>
          </li>
        </ul>
      </div>
      <div class="copyright border-ash">
        <p>
          © 2022 Eva Drive. Todos os direitos reservados. | Desenvolvido por: <a href="https://www.facebook.com/agenciacriamaisdf" target="_blank">Agência Cria Mais</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
